p {font-family: "Times New Roman";}
p {font-family: "Arial";}
p {font-family: "Georgia";}
p {font-family: "Verdana";}
p {font-family: "Trebuchet MS";}
p {font-family: "Impact";}
p {font-family: "Arial Black";}
p {font-family: "Comic Sans NS";}
p {font-family: "Courier New";}